*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primaryColor:#FB2E86;
    --successColor:#08D15F;
    --footerColor:#8A8FB9;
    --primaryFont:"Lato", sans-serif;
    --secondaryFont:"Josefin Sans", sans-serif;
    --tertiaryFont:"Roboto", sans-serif;
}
.d-f{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.row-between{
    justify-content: space-between;
    align-items: center;
}
.row-evenly{
    justify-content: space-evenly;
    align-items: center;
}
.row-center{
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    margin: auto;
}
.text-center{
    text-align: center;
}
.btn{
    border: none;
    outline: border;
    border-radius: 5px;
    padding: 16px 40px;
    color: #fff;
}
.btn-primary{
    background-color: var(--primaryColor);
}
.btn-success{
    background-color:var(--successColor);
}