/*.................... HEADER.........................*/
.header{
    padding: 57px 0;
}
.header ul{
    gap: 35px;
    font-family: var(--primaryFont);
}
.header .list a{
    color: #0D0E43;
}
.header .list .active{
    color: var(--primaryColor);
}
.header .bar{
    display: none;
}
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}
.search input,.search button{
    border: none;
    outline: border;
}
.search input{
    width: 223px;
    padding-left: 3px;
}
.search button{
    padding: 8px 13px;
    background-color: var(--primaryColor);
}
.header .bar{
    display: none;
}
/*............................ END HEADER.................*/

/* ........................FOOTER......................... */
.footer{
    background-color: #EEEFFB;
}
.footer .row-between{
    gap: 20px;
}
/* ......LEFT SIDE FOOTER ....... */
.left-side{
    justify-content: center;
    align-items: start;
    padding: 80px 0;
    gap: 35px;
    width: calc((100% - 40px) / 2);
}
.enter-email form{
    border: 1px solid #fff;
    border-radius: 5px;
}
.enter-email input,.enter-email button{
    border: none;
    outline: border;
}
.enter-email input{
    width: 223px;
    padding-left: 3px;
    font-family: var(--primaryFont);
}
.enter-email button{
    font-family: var(--tertiaryFont);
}
.footer h2{
    font-size: 16px;
    font-family: var(--primaryFont);
    color: var(--footerColor);
}
.footer address{
    font-family: var(--primaryFont);
    color: var(--footerColor);
}
/*.......RIHGT SIDE FOOTER ......*/
.right-side{
    width: calc((100% - 20px) / 2);
}
.right-side .row-between{
    gap: 35px;
    align-items: flex-start;
}
.right-side .footer-item{
    gap: 45px;
    width: calc((100% - 70px) / 3);
}
.footer .footer-item h2{
    color: #000;
}
.footer .footer-item nav{
    font-family: var(--primaryFont);
}
.footer-item nav a{
    color: var(--footerColor);
}
/*.......................... END FOOTER ...................*/
@media screen and (max-width: 1132px) {
    .list,.search{
        display: none;
    }
    .header .bar{
        display: block;
        width: 30px;
    }
}
@media screen and (max-width: 992px){
    .left-side, .right-side{
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .footer{
        text-align: center;
    }
    .right-side .footer-item{
        width: 100%;
    }
}